<table class="table table-striped table-bordered">
 	<tr>
 		<th>Employee Name&nbsp;</th>
 		<th>{{employee.name}}</th>
	</tr>
 	<tr>
 		<th>Address&nbsp;</th>

 		<th>{{employee.address}}</th>
 	</tr>
 	
 	<tr>
 		<th>Designation&nbsp;</th>

 		<th>{{employee.designation}}</th>
 	</tr>
 	<tr>
 		<th>Email&nbsp;</th>

 		<th>{{employee.email}}</th>
 	</tr>
 	<tr>
 		<th>Phone&nbsp;</th>

 		<th>{{employee.phone}}</th>
 	</tr>
 	<tr>
 		<th>Manager&nbsp;</th>

 		<th>{{employee.managerName}}</th>
 	</tr>
 	</tr>
</table>