
<div class="row">
	<!--<div class="col-md-12" data-ng-show="projects.length > -1">-->
		
		<a class="btn btn-success" href="#/project-new"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new project</a>

		<span class="pull-right">
			<strong>Search: </strong><input ng-model="searchText"></span>
		</br>
	</br>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">List Projects</h3>
		</div>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Project Name&nbsp;</th>
			<th>Client Name&nbsp;</th>
			<th>Manager&nbsp;</th>
			<th>Start Date&nbsp;</th>
			<th>Resource Count&nbsp;</th>
			<th colspan ="3">Action&nbsp;</th>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects  | filter:searchText">
				<td>{{project.name}}</td>
				<td>{{project.clientName}}</td>
				<td>{{project.manager.name}}</td>
				<td>{{project.startDate}}</td>
				<td>{{project.resources.length+1}}</td>

				<td><a href="#project-show/{{project._id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-eye-open" title="show"></td>
				<td><a href="#project-edit/{{project._id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit" title="Edit"></td>
				<td><a href="#" ng-click="deleteProject(project._id)" class="btn">&nbsp;<i class="glyphicon glyphicon-trash" title="Delete" ></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-12" data-ng-show="projects.length == 0">
	<div class="col-md-12">
		<h4>No project found</h4>
	</div>
</div>
</div>
<div 
    data-ac-chart="'pie'" 
    data-ac-data="graphData" 
    data-ac-config="config" 
    class="chart">
  </div>